* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom right, #e6f5ff 0%, #b3e0ff 31%, #e6f5ff 100%);
}

.container{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}

.panel {
  padding: 12px;
}

.bookmark-panel {
  margin-top: 5px;
  border-radius: 7px;
  border: 1px solid #338fff;
}

.bookmark-panel-header {
  background-color: #338fff;
  font-size: 20px;
  color: white;
}

.bookmark-panel-header span {
  float:right;
}

.fa-star {
  color: gray;
}

.checked {
  color: #F5B041;
}

label {
  width:29%;
  display: inline-block;
}

input, textarea {
  width: 70%;
  float: right;
}

.form-inputs{
  width: 75%;
  display: inline-block;
}

.form-rating{
  text-align: center;
  margin: 0 auto;
  width: 23%;
  float: right;
}

.form-rating label {
  display: block;
  width: 70%;
}

.form-rating input {
  float: none;
}

button {
    margin: 15px auto 0px auto;
    padding: 9px 32px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 3px #6C757D;
}

button:active {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.blue {
  background-color: #167AF6;
}

.blue:hover, .blue:focus {
    background-color: #1264C9;
}

.green {
  background-color: #4CA846;
}

.green:hover, .green:focus {
    background-color: #3B8236;
}

.orange {
  background-color: #F8C246;
}

.orange:hover, .orange:focus {
    background-color: #B89034;
}

.red {
  background-color: #DC3545;
}

.red:hover, .red:focus {
    background-color: #A02632;
}

.buttons {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.buttons button {
  margin-top: 10px;
  width: 30%;
}

.header {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.header div {
  text-align: center;
  display: inline-block;
  width: 60%;
}

.header label {
  display: inline-block;
  width: 200px;
}

.header select {
  width: 120px;
  border: 1px solid #167AF6;
}

.error-content {
  border-radius: 7px;
  border: 1px solid red;
  padding: 0 10px 0 10px;
  background-color: #ffcccc;
  width: 100%;
  display: inline-block;
}

.error-content h4 {
  padding: 2px;
  margin: 2px;
  width: 100%;
}

.error-content button {
  width: 10px;
  font-size: 6pt;
  margin-bottom: 5px;
  margin-top: 5px;
  float: right;
  display: inline-block;
}

@media screen and (max-width: 570px) {
  label {
    width: 100%;
    display:block;
  }

  input, textarea{
    width: 100%;
    float: none;
  }

  .form-inputs{
    width: 100%;
    display: block;
  }

  .form-rating{
    width: 100%;
    float: none;
  }

  .form-rating label {
    display: block;
    width: 70%;
  }

  .form-rating input {
    float: none;
    width: 20%;
  }

  .buttons {
    text-align: center;
    width: 100%;
    display: block;
  }

  .buttons button {
    width: 70%;
  }

  .header div, .header label{
    width: 100%;
  }

  .header div {
    margin-top: 10px;
  }
}